{% extends 'base.html' %}

{% block content %}
<h1>Minhas Coleções</h1>
{% if collections %}
    <ul>
        {% for collection in collections %}
            <li>
                <a href="{% url 'collection_detail' collection.pk %}">
                    <strong>{{ collection.name }}</strong>
                </a>
                <a href="{% url 'collection_update' collection.pk %}" style="font-size: 0.8em; color: gray;">Editar Coleção</a>
                <br>
                {{ collection.description }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Você ainda não tem coleções cadastradas.</p>
{% endif %}


<a href="{% url 'collection_create' %}">+ Nova Coleção</a>
<hr>
{% endblock %}