<h1>{{ collection.name }}</h1>
<form method="GET" style="margin-bottom: 20px;">
        <input type="text" name="search" placeholder="Buscar nesta coleção..." value="{{ search_query|default:'' }}">
        <button type="submit">Pesquisar</button>
        {% if search_query %}
            <a href="{% url 'collection_detail' collection.pk %}">Limpar</a>
        {% endif %}
    </form>

<p>{{ collection.description }}</p>

<a href="{% url 'item_create' collection.pk %}">+ Adicionar Novo Item</a>

<hr>

<h3>Itens nesta coleção</h3>
{% if items %}
    <ul>
        {% for item in items %}
            <li>
                <strong>{{ item.title }}</strong> ({{ item.year }})<br>
                {% if item.image %}
                    <img src="{{ item.image.url }}" alt="{{ item.title }}" style="max-width: 200px;">
                {% endif %}
                <p>{{ item.description }}</p>

                <a href="{% url 'item_update' item.pk %}">Editar</a> | 
                <a href="{% url 'item_delete' item.pk %}" style="color: red;">Deletar</a>            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum item adicionado ainda.</p>
{% endif %}

<br>
<a href="{% url 'album_list' %}">Voltar para Minhas Coleções</a>